<?xml version="1.0"?>

<launch>
  <arg name="headless" default="false"/>
  <arg name="gui" default="false"/>

  <arg name="sdf" default="$(find simulation)/models/uav/uav.sdf"/>
  
  <!--
  <arg name="world" value="worlds/empty.world"/>
  -->
  <arg name="world" default="$(find simulation)/worlds/building.world"/>
  
  <arg name="pluginlists_yaml" default="$(find simulation)/launch/px4_pluginlists.yaml" />
  <arg name="config_yaml" default="$(find simulation)/launch/px4_config.yaml" />
  
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>
  <arg name="paused" default="false"/>
	
  <include file="$(find px4)/launch/mavros_posix_sitl.launch">
    <env name="GAZEBO_IP" value="192.168.0.142" />
    <env name="GAZEBO_MASTER_URI" value="192.168.0.142:12345" />
	    
    <arg name="headless" value="$(arg headless)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="verbose" value="$(arg verbose)" />
    <arg name="paused" value="$(arg paused)" />
    
    <arg name="sdf" value="$(arg sdf)" />
    <arg name="world" value="$(arg world)" />
    
    <arg name="pluginlists_yaml" value="$(arg pluginlists_yaml)" />
    <arg name="config_yaml" value="$(arg config_yaml)" />
  </include> 
</launch>
